:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.logo {
  color: #000000;
}

/* site nav and connection link */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: red;
}

/* hero */

.hero-title {
  color: #ffffff;
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* feature */

.feature-list .title {
  color: var(--title-text-color);
}

/* сфера деятельности */

/* button */

.button {
  color: #ffffff;
  background-color: var(--accent-color);
}
